@import '../../scss/vars-mixins';

.user-item {
	max-width: 500px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 20px;
	@include border;
	@include centered;

	&__info {
		flex: 2;
	}

	&__buttons {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;

		button:last-child {
			margin-top: 30px;
		}
	}

	&__name {
		font-weight: bold;
		font-size: 1.5em;
	}
}
